.detailed-card-page {
    width: 80%;
    margin: auto;
    padding: 1rem;
}
.arrow-container {
    width:0rem;
    height:0rem;
    margin: 0 0 0.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.1rem;
    border-radius: 50%;
    background-color: #88efdc;
    cursor: pointer;
    
}

.arrow {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 20px solid #9f9494;
}

.arrow:hover {
    border-right-color: #b63838;
    transform: scale(1.2);
}

.card-profile {
    display: grid;
    gap: 1rem;
    grid-template-columns: 40% 60%;
    padding: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #c6cbcf8e;
}

.detailed-image {
    width:100%;
    object-fit: cover;
    border-radius: 8px;
}

.d-title {
    margin: 0;
}
.d-description {
    padding-right: 2rem;
    margin: 0.5rem 0;
    color: var(--grey-text);
}

.season-div {
    display: flex;
    justify-content: space-between;
    
}

 #seasons-list {
    width: auto;
    height: 30px;
    margin: auto 2rem auto 0;

}

.genre-date, .season-info {
    display:grid;
    grid-template-columns: 60% 40%;
    margin-top: 1rem;
}

.d-updated, .total-seasons, .total-episodes {
    background: #eee;
    padding: 0.3rem 0.6rem;
    border-radius: 4px;
    font-size: 0.8rem;
    width: fit-content;
}

.episodes-div {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    background-color: #c6cbcf8e;
}

.season-header {
    display: grid;
    grid-template-columns: 10% 90%;
    gap: 1rem;
    align-items: center;
}

.season-description {
    margin:  0;
    color: var(--grey-text);
}

.season-title {
    margin: 0;
}

.season-image {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.episodes-list {
    list-style: none;
    padding: 0;
}

.episode-item {
    background-color: rgba(248, 250, 253, 0.642);
    display: grid;
    grid-template-columns: 10% 90%;
    gap: 1rem;
    padding: 1rem;
    margin: 0 0 1rem 0;
    border-radius: 8px;
}

.episode-image {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 1rem;
}

.episode-description {
    margin: 0.5rem 0 0 0;
    color: var(--grey-text);
    font-size: 0.9rem;
}

.episode-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

@media (max-width:1024px) {
    .detailed-card-page {
        width: 90%;
        margin: auto;

    }

    .card-profile {
        grid-template-columns: 30% 60%;
    }
}

@media (max-width: 768px) {
        .detailed-card-page {
            width: 95%;
            margin: auto;
            padding: 0;
        }
    
    .card-profile {
        grid-template-columns: 100%;
    }

    .d-description {
        padding: 0;
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 5;
        line-clamp: 5;
        -webkit-box-orient: vertical;
    }

    audio {
        width: 100%;

    }
    
}

